<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <link rel="stylesheet" href="/jquery.mobile-1.0.min.css" />
    <script type="text/javascript" src="/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="/jquery.mobile-1.0.min.js"></script>
    <style type='text/css'>
/*      body {
        margin: 0;
        padding: 0;
      }*/
      img {
        /*max-width: 100%;*/
        width: 100%;
        height: auto;
      }
    </style>
    <script type='text/javascript'>
    $(function() {
      var count = <%= @count %>;
      var nextId = <%= @image.id%> + 1;
      $('.forward').live('click', function() {
        if (nextId >= count) {
          nextId = 1;
        }
        $.mobile.changePage('/?id=' + nextId);
        nextId = nextId + 1;
        return false;
      });
      // $('.back').live('click', function() {
      //   history.back();
      //   return false;
      // });
    });
    </script>
    <title>Random Image</title>
  </head>
  <body>
    <div data-role='page' data-fullscreen='true'>
      <div data-role='content'>
        <!-- <img id='image' /> -->
        <img src='/images/<%=@image.id%>' />
      </div>
      <div data-role="footer"  data-position="fixed">
        <a data-role='button' data-icon='back' data-rel='back' data-direction="reverse" class='back'>Back</a>
        <a data-role='button' data-icon='forward' class='forward'>Forward</a>
        <a data-role='button' data-icon='refresh' class='refresh' href='/?id=<%=@next_id%>'>Reload</a>
      </div>
    </div>
  </body>
</html>